* {
  box-sizing: border-box;
}
body {
  background: #010202;
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  text-decoration: none;
}

.header {
  max-width: 1146px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block;
}
.logo-image {
  padding: 56px 0;
}
.user-name {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  margin-right: 15px;
}
.user-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.user {
  display: flex;
  align-items: center;
}
